body {
  font-family: 'Space Grotesk', sans-serif;
  max-width: 1110px;
  max-height: 3872px;
  margin: auto;
  padding: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 720px 2094px 675px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  background-color: #151515;
  color: #eee;
}

.header {
  grid-area: header;
  border-bottom: 1px solid #d9d9d9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row: 720px;
  grid-template-areas: 'about-me image-container';
}

.about-me {
  grid-area: about-me;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.image-container {
  grid-area: image-container;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 470px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #d9d9d9;
}

.image-container:hover .overlay {
  opacity: 0.8;
}

.icon {
  color: #151515;
  font-size: 60px;
  position: relative;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  align-items: center;
}

.icon:hover {
  color: rgb(78, 225, 160);
}

.span {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
  text-decoration-color: rgb(78, 225, 160);
}

ul {
  list-style-type: none;
  color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(78, 225, 160);
}

li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: white;
}

.mine {
  text-decoration: none;
  color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(78, 225, 160);
}

.mine:hover {
  color: rgb(78, 225, 160);
}

.name > h2 {
  font-size: x-large;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row: 1fr 1fr 1fr;
  grid-template-areas:
    'main1'
    'main2'
    'main3';
}

.main1 {
  grid-area: main1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.experience1,
.experience2 {
  display: flex;
  justify-content: space-between;
}

.main3 {
  grid-area: main3;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'project1 project2'
    'project3 project4'
    'project5 project6';
}

.main2 {
  grid-area: main2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project1 {
  grid-area: project1;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 330px;
}

.project2 {
  grid-area: project2;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 330px;
}

.project3 {
  grid-area: project3;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 330px;
}

.project4 {
  grid-area: project4;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 330px;
}

.project5 {
  grid-area: project5;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 330px;
}

.project6 {
  grid-area: project6;
  position: relative;
  width: 100%;
  max-width: 445px;
  height: 100%;
  max-height: 330px;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease-in;
  background-color: black;
}

.overlay1 > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  padding-right: 4rem;
}

.project-link {
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(78, 225, 160);
  align-items: center;
}

.project-link:hover {
  color: rgb(78, 225, 160);
}

.project1:hover .overlay1 {
  opacity: 0.8;
}

.project2:hover .overlay1 {
  opacity: 0.8;
}

.project3:hover .overlay1 {
  opacity: 0.8;
}

.project4:hover .overlay1 {
  opacity: 0.8;
}

.project5:hover .overlay1 {
  opacity: 0.8;
}

.project6:hover .overlay1 {
  opacity: 0.8;
}

.footer {
  grid-area: footer;
  background-color: #242424;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 350px 345px;
  grid-template-areas:
    'footer1'
    'footer2';
}

.footer1 {
  grid-area: footer1;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.form {
  margin-top: 1rem;
}

input:nth-child(1) {
  height: 3rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #242424;
}

#email {
  height: 3rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #242424;
}

#message {
  height: 6rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #242424;
}


.button:hover {
  color: rgb(78, 225, 160);
}

.footer2 {
  grid-area: footer2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14rem;
  padding: 6rem;
}

.footer-icon {
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
}

.icon1:hover {
  color: rgb(78, 225, 160);
}

.icon2:hover {
  color: rgb(78, 225, 160);
}

.icon3:hover {
  color: rgb(78, 225, 160);
}

@media (max-width: 600px) {
  body {
    height: 100vh;
    padding: auto;
    margin: auto;
    overflow: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'header'
      'main'
      'footer';
  }

  .header {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    grid-template-areas:
      'image-container'
      'about-me';
  }

  .about-me {
    place-items: center;
    padding-left: 1rem;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .overlay {
    display: block;
    padding: auto;
    width: 15rem;
    margin: auto;
  }

  .main {
    justify-content: center;
    place-items: center;
  }

  .main1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
  }

  .experience1,
  .experience2 {
    display: flex;
    flex-direction: column;
  }

  .main3 {
    display: grid;
    place-items: center;
    gap: 5rem;
    grid-template-areas:
      'project1'
      'project2'
      'project3'
      'project4'
      'project5'
      'project6';
  }

  .footer {
    width: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  .footer1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 1rem;
    margin-right: 2rem;
  }

  .footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #name,
  #email,
  #message {
    width: 100%;
  }
}
